@use '@angular/material' as mat;
@use "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

.btn-icon-right {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 8px;

  &.mat-mdc-unelevated-button>.mat-icon {
    margin-left: 0;
    margin-right: 0;
  }
}

$icon-sizes: (
  sm: 16px,
  md: 24px,
  lg: 32px,
  xl: 48px
);

@each $name, $size in $icon-sizes {
  .icon-#{$name} {
    font-size: $size;
    width: $size !important;
    height: $size !important;
    line-height: $size;
  }
}

.filled {
  font-variation-settings:
    'FILL' 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.mat-mdc-form-field.mat-form-field-animations-enabled .mdc-text-field__input.ng-untouched,
.mat-mdc-form-field.mat-form-field-animations-enabled .mdc-text-field__input.ng-pristine {
  opacity: 0.5;
}

.text-code {
  font-family: var(--default-mono-font-family);
}

.custom-btn-fab {
  cursor: pointer;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--mat-sys-surface-container-high);
    border: 1px solid var(--mat-sys-outline);
  }
}

.table-default {
  thead {
    tr {
      th {
        background-color: var(--mat-sys-surface-container-low);
        color: var(--mat-sys-on-surface-variant);
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 1rem;
        border-bottom: 1px solid var(--mat-sys-outline);
      }
    }
  }
}

.tag {
  background-color: var(--mat-sys-on-background);
  border-radius: 50px;
  color: var(--mat-sys-surface);
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.25rem 0.5rem;

  &-critical {
    background-color: var(--color-critical);
    color: var(--mat-sys-on-secondary);
  }

  &-warning {
    background-color: var(--color-warning);
    color: var(--mat-sys-on-secondary);
  }
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.btn{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px;
  text-align: center;
  width: 100%;

  &--primary {
    background: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);
  }

  &--secondary {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-surface-variant);
  }
}