<div class="grid place-content-center gap-12">
  <div class="flex flex-col items-center justify-center text-center gap-4 max-w-2/3 mx-auto">
    <img src="assets/images/isotipo-wila-light.svg" alt="Logo Wila" class="w-16 mx-auto">
    <h1>Configuración inicial</h1>
    <p>Para comenzar, se deben ingresar algunos datos básicos que permitirán crear el acceso y guardar la configuración
      del sistema.</p>
  </div>

  @if (!loading) {
  <form class="grid gap-8 w-2/3 mx-auto" [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Correo de acceso</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Contraseña de acceso</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
      <span matSuffix (click)="togglePasswordVisibility()" class="material-symbols-outlined mr-4">{{ showPassword ? 'visibility_off' : 'visibility' }}</span>
    </mat-form-field>

    @if (mode === 'register') {
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword">
      <span matSuffix (click)="toggleConfirmPasswordVisibility()" class="material-symbols-outlined mr-4">{{ showPassword ? 'visibility_off' : 'visibility' }}</span>
    </mat-form-field>
    }

  </form>
  }

  @if (loading) {
  <div class="flex justify-center py-2">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
  }

  @if (error) {
  <div class="text-error-20">
    {{ error }}
  </div>
  }
</div>