.mdc-list-item__secondary-text {
  color: var(--mat-sys-inverse-on-surface);
}

.mat-mdc-list-item {
  background-color: var(--mat-sys-surface-variant);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &.motor-incomplete {
    border-left: 4px solid transparent;

    .mat-icon {
      color: var(--color-accent);
    }
  }

  &.motor-completed {
    border-left: 4px solid var(--mat-sys-surface-container-highest);

    .mat-mdc-list-item-title {
      // color: var(--mat-sys-on-primary);
      font-weight: 600;
    }

    .mat-icon {
      color: var(--color-accent);
    }
  }

  &.mdc-list-item--activated {
    border-left: 4px solid var(--mat-sys-inverse-surface);

    .mdc-list-item__secondary-text,
    .mdc-list-item__end {
      color: var(--mat-sys-inverse-surface);
    }

    &.motor-completed {
      border-left: 4px solid var(--mat-sys-inverse-surface);

      .mat-icon {
        color: var(--mat-sys-inverse-surface);
      }
    }
  }

  &[aria-current="true"],
  &.mdc-list-item--activated {
    .mat-mdc-list-item-title {
      color: var(--mat-sys-inverse-surface);
      font-weight: 600;
    }
  }

  .mat-mdc-list-item-title {
    font-weight: 500;
  }

  .mat-mdc-list-item-meta {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.cota-carbon {
  align-items: center;
  display: flex;
  color: var(--mat-sys-scrim);
  background-color: #FFF;
  border-top: 1px solid var(--mat-sys-outline);
  border-bottom: 1px solid var(--mat-sys-outline);
  bottom: 15px;
  font-size: 1rem;
  position: absolute;
  text-align: right;
  right: 78%;
  white-space: nowrap;

  &.carbon-alto {
    height: 50%;
  }

  &.carbon-prealarma {
    height: 40%;
  }

  &.carbon-minimo {
    height: 35%;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(50% - 1rem);
    right: 50%;
    background-color: var(--mat-sys-outline);
  }
  
  &:before{
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.pulse {
  animation: pulse 2s 6;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}