<div class="grid place-content-center gap-12">
  <div class="flex flex-col items-center justify-center text-center gap-4 max-w-2/3 mx-auto">
    <img src="assets/images/isotipo-wila-light.svg" alt="Logo Wila" class="w-16 mx-auto">
    <h1>Definición de cliente</h1>
    <p>Selección de cliente. Con esta información se crea la estructura inicial para la configuración.</p>
  </div>

  @if (loadingPlantas) {
  <div class="text-center py-8">
    <mat-spinner class="mx-auto mb-4" diameter="32"></mat-spinner>
    <p>Cargando información del cliente...</p>
    <p class="text-sm text-gray-500 mt-2">Si esto tarda mucho, intenta refrescar la página</p>
  </div>
  } @else {
  <div class="w-2/3 mx-auto">

    <form class="grid gap-6" [formGroup]="form">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="empresaId">
          @for (empresa of empresas; track empresa) {
          <mat-option [value]="empresa.id">{{ empresa.nombre }}</mat-option>
          }
        </mat-select>
        <!-- <mat-hint>Selecciona la empresa.</mat-hint> -->
      </mat-form-field>
          
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>División</mat-label>
        <mat-select formControlName="divisionId">
          @for (division of divisiones; track division.id) {
          <mat-option [value]="division.id">{{ division.nombre }}</mat-option>
          }
        </mat-select>
        <mat-hint>Selecciona la división a configurar.</mat-hint>
      </mat-form-field>

    </form>

    @if (loading) {
    <div class="flex justify-center py-4">
      <mat-spinner diameter="32"></mat-spinner>
    </div>
    }

    @if (error) {
    <div class="text-error-20 mt-4 text-center">
      <p>{{ error }}</p>
    </div>
    }
  </div>
  }
</div>