@import "tailwindcss";

@theme {
  /* Sync Tailwind colors with Angular Material 3 theme colors */
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  
  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);
  
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-surface-variant: var(--mat-sys-surface-variant);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  
  --color-background: var(--mat-sys-background);
  --color-on-background: var(--mat-sys-on-background);
  
  --color-outline: var(--mat-sys-outline);
  --color-outline-variant: var(--mat-sys-outline-variant);

  --color-state-normal: var(--mat-sys-state-normal);
  --color-on-state-normal: var(--mat-sys-surface);
  --color-state-info: var(--mat-sys-state-info);
  --color-state-warning: var(--mat-sys-state-warning);
  --color-state-critical: var(--mat-sys-state-critical);

  --color-sys-surface-dim: var(--mat-sys-surface-dim);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);

  --color-inverse-primary: var(--mat-sys-inverse-primary);
  --color-primary-fixed: var(--mat-sys-primary-fixed);
  --color-on-primary-fixed: var(--mat-sys-on-primary-fixed);

  --color-normal: #9aa3ad;
  --color-warning: #f2b705;
  --color-on-warning: #4d2e00;
  --color-critical: #d25855;
  --color-on-critical: #723600;

  --color-state-critical: var(--color-critical);
  --color-state-warning: var(--color-warning);
  
  /* Modern font settings synced with Material Typography */
  --font-sans: "Inter", sans-serif;
  --font-brand: "Work Sans", sans-serif;

  --breakpoint-tablet: 830px;

}
