.dark-medium-contrast {
  --mat-sys-primary: rgb(209 220 255);
  --mat-sys-surface-tint: rgb(177 197 255);
  --mat-sys-on-primary: rgb(7 35 85);
  --mat-sys-primary-container: rgb(122 144 200);
  --mat-sys-on-primary-container: rgb(0 0 0);
  --mat-sys-secondary: rgb(255 211 195);
  --mat-sys-on-secondary: rgb(71 22 2);
  --mat-sys-secondary-container: rgb(202 125 95);
  --mat-sys-on-secondary-container: rgb(0 0 0);
  --mat-sys-tertiary: rgb(169 229 255);
  --mat-sys-on-tertiary: rgb(0 42 54);
  --mat-sys-tertiary-container: rgb(81 154 181);
  --mat-sys-on-tertiary-container: rgb(0 0 0);
  --mat-sys-error: rgb(255 210 206);
  --mat-sys-on-error: rgb(72 19 19);
  --mat-sys-error-container: rgb(203 123 118);
  --mat-sys-on-error-container: rgb(0 0 0);
  --mat-sys-background: rgb(18 19 24);
  --mat-sys-on-background: rgb(226 226 233);
  --mat-sys-surface: rgb(16 20 23);
  --mat-sys-on-surface: rgb(255 255 255);
  --mat-sys-surface-variant: rgb(67 71 78);
  --mat-sys-on-surface-variant: rgb(217 220 229);
  --mat-sys-outline: rgb(174 178 186);
  --mat-sys-outline-variant: rgb(141 144 153);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(224 227 232);
  --mat-sys-inverse-on-surface: rgb(39 42 46);
  --mat-sys-inverse-primary: rgb(48 70 121);
  --mat-sys-primary-fixed: rgb(217 226 255);
  --mat-sys-on-primary-fixed: rgb(0 15 49);
  --mat-sys-primary-fixed-dim: rgb(177 197 255);
  --mat-sys-on-primary-fixed-variant: rgb(29 52 102);
  --mat-sys-secondary-fixed: rgb(255 219 206);
  --mat-sys-on-secondary-fixed: rgb(38 7 0);
  --mat-sys-secondary-fixed-dim: rgb(255 181 153);
  --mat-sys-on-secondary-fixed-variant: rgb(92 38 14);
  --mat-sys-tertiary-fixed: rgb(186 234 255);
  --mat-sys-on-tertiary-fixed: rgb(0 20 27);
  --mat-sys-tertiary-fixed-dim: rgb(137 208 238);
  --mat-sys-on-tertiary-fixed-variant: rgb(0 59 76);
  --mat-sys-surface-dim: rgb(16 20 23);
  --mat-sys-surface-bright: rgb(65 69 73);
  --mat-sys-surface-container-lowest: rgb(5 8 11);
  --mat-sys-surface-container-low: rgb(26 30 34);
  --mat-sys-surface-container: rgb(36 40 44);
  --mat-sys-surface-container-high: rgb(47 51 55);
  --mat-sys-surface-container-highest: rgb(58 62 66);
}
