.dark-high-contrast {
  --mat-sys-primary: rgb(237 239 255);
  --mat-sys-surface-tint: rgb(177 197 255);
  --mat-sys-on-primary: rgb(0 0 0);
  --mat-sys-primary-container: rgb(172 194 253);
  --mat-sys-on-primary-container: rgb(0 10 37);
  --mat-sys-secondary: rgb(255 236 230);
  --mat-sys-on-secondary: rgb(0 0 0);
  --mat-sys-secondary-container: rgb(255 176 145);
  --mat-sys-on-secondary-container: rgb(28 4 0);
  --mat-sys-tertiary: rgb(221 244 255);
  --mat-sys-on-tertiary: rgb(0 0 0);
  --mat-sys-tertiary-container: rgb(133 204 234);
  --mat-sys-on-tertiary-container: rgb(0 13 19);
  --mat-sys-error: rgb(255, 84, 73);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(255 174 169);
  --mat-sys-on-error-container: rgb(34 0 1);
  --mat-sys-background: rgb(18 19 24);
  --mat-sys-on-background: rgb(226 226 233);
  --mat-sys-surface: rgb(16 20 23);
  --mat-sys-on-surface: rgb(255 255 255);
  --mat-sys-surface-variant: rgb(67 71 78);
  --mat-sys-on-surface-variant: rgb(255 255 255);
  --mat-sys-outline: rgb(237 240 249);
  --mat-sys-outline-variant: rgb(191 194 203);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(224 227 232);
  --mat-sys-inverse-on-surface: rgb(0 0 0);
  --mat-sys-inverse-primary: rgb(48 70 121);
  --mat-sys-primary-fixed: rgb(217 226 255);
  --mat-sys-on-primary-fixed: rgb(0 0 0);
  --mat-sys-primary-fixed-dim: rgb(177 197 255);
  --mat-sys-on-primary-fixed-variant: rgb(0 15 49);
  --mat-sys-secondary-fixed: rgb(255 219 206);
  --mat-sys-on-secondary-fixed: rgb(0 0 0);
  --mat-sys-secondary-fixed-dim: rgb(255 181 153);
  --mat-sys-on-secondary-fixed-variant: rgb(38 7 0);
  --mat-sys-tertiary-fixed: rgb(186 234 255);
  --mat-sys-on-tertiary-fixed: rgb(0 0 0);
  --mat-sys-tertiary-fixed-dim: rgb(137 208 238);
  --mat-sys-on-tertiary-fixed-variant: rgb(0 20 27);
  --mat-sys-surface-dim: rgb(16 20 23);
  --mat-sys-surface-bright: rgb(77 80 85);
  --mat-sys-surface-container-lowest: rgb(0 0 0);
  --mat-sys-surface-container-low: rgb(28 32 36);
  --mat-sys-surface-container: rgb(45 49 53);
  --mat-sys-surface-container-high: rgb(56 60 64);
  --mat-sys-surface-container-highest: rgb(67 71 75);

  --mat-sys-state-normal: rgb(154, 163, 173);
  --mat-sys-state-info: rgb(95, 157, 255);
  --mat-sys-state-warning: rgb(242, 183, 5);
  --mat-sys-state-critical: rgb(210, 88, 85);
}
