.light-medium-contrast {
  --mat-sys-primary: rgb(29 52 102);
  --mat-sys-surface-tint: rgb(71 93 146);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(86 108 161);
  --mat-sys-on-primary-container: rgb(255 255 255);
  --mat-sys-secondary: rgb(92 38 14);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(160 91 63);
  --mat-sys-on-secondary-container: rgb(255 255 255);
  --mat-sys-tertiary: rgb(0 59 76);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(39 117 144);
  --mat-sys-on-tertiary-container: rgb(255 255 255);
  --mat-sys-error: rgb(94 35 34);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(161 88 85);
  --mat-sys-on-error-container: rgb(255 255 255);
  --mat-sys-background: rgb(250 248 255);
  --mat-sys-on-background: rgb(26 27 33);
  --mat-sys-surface: rgb(247 249 255);
  --mat-sys-on-surface: rgb(14 18 21);
  --mat-sys-surface-variant: rgb(223 226 235);
  --mat-sys-on-surface-variant: rgb(50 54 61);
  --mat-sys-outline: rgb(79 83 90);
  --mat-sys-outline-variant: rgb(105 109 117);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(45 49 53);
  --mat-sys-inverse-on-surface: rgb(238 241 246);
  --mat-sys-inverse-primary: rgb(177 197 255);
  --mat-sys-primary-fixed: rgb(86 108 161);
  --mat-sys-on-primary-fixed: rgb(255 255 255);
  --mat-sys-primary-fixed-dim: rgb(62 83 135);
  --mat-sys-on-primary-fixed-variant: rgb(255 255 255);
  --mat-sys-secondary-fixed: rgb(160 91 63);
  --mat-sys-on-secondary-fixed: rgb(255 255 255);
  --mat-sys-secondary-fixed-dim: rgb(131 67 41);
  --mat-sys-on-secondary-fixed-variant: rgb(255 255 255);
  --mat-sys-tertiary-fixed: rgb(39 117 144);
  --mat-sys-on-tertiary-fixed: rgb(255 255 255);
  --mat-sys-tertiary-fixed-dim: rgb(0 92 117);
  --mat-sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --mat-sys-surface-dim: rgb(196 199 204);
  --mat-sys-surface-bright: rgb(247 249 255);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(241 244 249);
  --mat-sys-surface-container: rgb(230 232 237);
  --mat-sys-surface-container-high: rgb(218 221 226);
  --mat-sys-surface-container-highest: rgb(207 210 215);
}
